# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


# the following files are products of the build process
build.num
.buildnum
*/docker/app
docker/app
*/Godeps/_workspace
*/bindata.go
pkg/frontend/bindata.go
pkg/assets/*.go

service/*.json
*.pem

ui/site

*.pb.go
*.pb.gw.go
*.swagger.json
*.swp

# these subdir's have confidential certificate data.  never publish them in a git repo
ca/cap
ca/intermediate-ca
ca/root-ca
ca/ucap
